@use '../utils/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desktop/background.jpg);

  height: 600px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop-2x/background-2x.jpg);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/background-tablet.jpg);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 1199px) and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (max-width: 1199px) and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet-2x/background-tablet-2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/background-mobile.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile-2x/background-mobile-2x.jpg);

    height: 400px;
  }
}

.hero__title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 42px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;

  @media (max-width: 1199px) {
    padding-top: 100px;
    font-size: 26px;
  }
}

.hero__btn {
  color: white;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  width: 216px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 200px;

  @media (max-width: 1199px) {
    margin-bottom: 100px;
    width: 200px;
  }
}
