@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as *;
@use '../utils/fonts' as *;

.logo {
	color: $brand-color;
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.03em;
}

.logo__span {
	color: $accent-color;
}

.logo__span--footer {
	color: $about-us;
}

@media (max-width: 768px) {
	.logo {
		font-size: 24px;
	}
}
