@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as *;

.our-clients {
	padding-top: 94px;
	padding-bottom: 94px;
	&__title {
		@extend %titles;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		border: 1px solid;
		border-color: $icons-color;
		border-radius: 4px;
		padding: 16px 32px;
		display: flex;
		justify-content: center;

		&:hover {
			border-color: $accent-color;
		}

		&:hover .our-clients__icon {
			fill: $accent-color;
		}
	}

	&__icon {
		fill: $icons-color;
		width: 106px;
		height: 60px;
	}
}

@media (max-width: 768px) {
	.our-clients {
		padding-top: 60px;
		padding-bottom: 60px;

		&__list {
			flex-wrap: wrap;
			row-gap: 30px;
		}

		&__link {
			padding: 16px 60px;
			max-width: 226px;
		}
	}
}

@media (max-width: 480px) {
	.our-clients {
		&__link {
			padding: 16px 52px;
			max-width: 210px;
		}
	}
}
